@model IEnumerable<Joole.Service.Models.Category>
@using Joole.Service.Models
@{ Layout = null;
    ViewBag.Title = "CompareProducts"; }


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joole - @ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <!--Styling-->
    <style>
        header {
            display: flex;
            background-image: linear-gradient(#1565c0, white);
        }

        #image img {
            width: 218px;
            height: 119px;
        }

        #searchBar {
            flex: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #logoutBtn {
            flex: 2;
        }

        .dropdown select {
            cursor: pointer;
        }

        .dropdown option {
            color: black;
            background-color: white;
        }

        .search {
            width: 30%;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }

            .search #srch {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 3px;
            }

        .butten {
            cursor: pointer;
        }

        #logoutBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .avatar {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        #logoutBtn a {
            color: black;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            cursor: pointer;
        }
    </style>

    <!--Top Search Bar Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    $(document).ready(function () {

        $("#category_filter").change(function () {
            console.log(this);
            var categoryID = $(this).val();
            $("#srch").val("");
            $.get("@Url.Action("GetSubCateListByCatID", "Search")", { categoryId: categoryID }, BindData);
            function BindData(Subcategories) {
                console.log(Subcategories);
                var datalist = $("#subcatList");
                datalist.html("");
                for (var i = 0; i < Subcategories.length; i++) {
                    console.log(Subcategories[i].Name);
                    var newRow = "<option data-id="+Subcategories[i].Id+">" + Subcategories[i].Name + "</option>";
                    datalist.append(newRow);
                }
            }

        })

        $("#srcbtn").click(function () {
            var categoryID = $("#category_filter").val();
            var subcatName = $("#srch").val();
            var subcategoryID = $("#subcatList option").filter(function () {
                console.log(this);
                return this.value == subcatName;
            }).data("id");
            if (categoryID == "") {
                alert("Please select Category and Subcategory!")
            }
            else if (subcategoryID == null) {
                alert("Please select Subcategory from list!")
            }
            else {
                var url = "/Product/Product?categoryId=" + categoryID + "&subcategoryId=" + subcategoryID;
                location.replace(url);
            }
        })

    });
    </script>
    <style>
        th, tr, td {
            text-align: left;
            border: 1px solid lightgray
        }

        div.centered {
            text-align: center;
        }

            div.centered table {
                margin: 0 auto;
                text-align: left;
            }
    </style>

</head>
<body>
    <div>
        <header>
            <div id="image">
                <img src="https://i.ibb.co/QkYhFNX/joole.png" alt="Joole" />
            </div>
            <div id="searchBar">
                <div class="dropdown">
                    <select id="category_filter" class="btn btn-primary">
                        <option value="" selected hidden>Category</option>
                        @foreach (Category categroy in Model)
                        {
                            <option value="@categroy.Id "> @categroy.Name</option>
                        }
                    </select>
                </div>

                <div class="search">
                    <input type="text" id="srch" name="srch" list="subcatList" />

                    <datalist id="subcatList">
                    </datalist>
                </div>

                <div class="butten">
                    <button type="submit" id="srcbtn" class="btn btn-primary btn-sm">Search</button>
                </div>
            </div>

            <div id="logoutBtn">
                @if (TempData["img"] == null)
                {
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" class="avatar" />
                }
                else
                {
                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String((byte [])TempData["img"]))" class="avatar" />
                }
                <input type="button" class="btn btn-danger btn-sm" value="Logout" onclick="location.href='@Url.Action("Logout", "Product")'" />
            </div>
        </header>
    </div>
    <div class="centered">
        <table style="border:1px solid lightgray;border-collapse:collapse;width:80%;">


            <tr>
                <th style="background-color: white;"></th>
                @foreach (List<string> item in (List<List<string>>)ViewBag.CompareMan)
                {
                    <th style="text-align: center;"><img src="@String.Format("data:image/jpg;base64,{0}",item[1])" style="height:200px;width:200px;" /></th>
                }
            </tr>
            <tr style="background-color:gainsboro;"><td colspan="4">DESCRIPTION</td></tr>
            <tr>
                <th style="background-color:gainsboro;">Manufacture</th>
                @foreach (List<string> item in (List<List<string>>)ViewBag.CompareMan)
                {
                    <td>@item[2]</td>
                }
            </tr>
            <tr>
                <th style="background-color:gainsboro;">Series</th>
                @foreach (List<string> item in (List<List<string>>)ViewBag.CompareMan)
                {
                    <td>@item[3]</td>
                }
            </tr>
            <tr>
                <th style="background-color:gainsboro;">Model</th>
                @foreach (List<string> item in (List<List<string>>)ViewBag.CompareMan)
                {
                    <td>@item[4]</td>
                }
            </tr>
            <tr style="background-color:gainsboro;"><td colspan="4">TYPE</td></tr>
            @if (ViewBag.Compare2 == 0)
            {
                // if (true)
                //{
                List<List<string>> s = (List<List<string>>)ViewBag.CompareIsType;
                for (int i = 0; i <= 4; i = i + 1)
                {
                    <tr>

                        <th style="background-color:gainsboro;">@s[i][0]</th>
                        <td>@s[i][1]</td>
                        <td>@s[i + 5][1]</td>
                        <td>@s[i + 10][1]</td>
                    </tr>

                }
                // }
                <tr style="background-color:gainsboro;"><td colspan="4">TECHNICAL SPECIFICATIONS</td></tr>
                // if (true)
                //{
                List<List<string>> s1 = (List<List<string>>)ViewBag.CompareIsTechSpec;
                for (int i = 0; i <= 8; i = i + 1)
                {
                    <tr>
                        <th style="background-color:gainsboro;">@s1[i][0]</th>
                        @if (s1[i][1].Split(',').Length == 2)
                        {
                            <td>
                                <table>
                                    <tr><td style="background-color:gainsboro;">Min</td><td style="width:50px">@s1[i][1].Split(',')[0]</td><td style="background-color:gainsboro;">Max</td><td style="width:50px">@s1[i][1].Split(',')[1]</td></tr>
                                </table>
                            </td>

                            <td>
                                <table>
                                    <tr><td style="background-color:gainsboro;">Min</td><td style="width:50px">@s1[i + 9][1].Split(',')[0]</td><td style="background-color:gainsboro;">Max</td><td style="width:50px">@s1[i + 9][1].Split(',')[1]</td></tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr><td style="background-color:gainsboro;">Min</td><td style="width:50px">@s1[i + 18][1].Split(',')[0]</td><td style="background-color:gainsboro;">Max</td><td style="width:50px">@s1[i + 18][1].Split(',')[1]</td></tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td>@s1[i][1]</td>
                            <td>@s1[i + 9][1]</td>
                            <td>@s1[i + 18][1]</td>
                        }

                    </tr>

                }


                //}
            }
            else
            {
                // if (true)
                //{
                List<List<string>> s = (List<List<string>>)ViewBag.CompareIsType;
                for (int i = 0; i <= 4; i = i + 1)
                {
                    <tr>

                        <th style="background-color:gainsboro;">@s[i][0]</th>
                        <td>@s[i][1]</td>
                        <td>@s[i + 5][1]</td>
                    </tr>

                }
                // }
                <tr style="background-color:gainsboro;"><td colspan="4">TECHNICAL SPECIFICATIONS</td></tr>
                // if (true)
                //{
                List<List<string>> s1 = (List<List<string>>)ViewBag.CompareIsTechSpec;
                for (int i = 0; i <= 8; i = i + 1)
                {
                    <tr>
                        <th style="background-color:gainsboro;">@s1[i][0]</th>
                        @if (s1[i][1].Split(',').Length == 2)
                        {
                            <td>
                                <table>
                                    <tr><td style="background-color:gainsboro">Min</td><td style="width:50px">@s1[i][1].Split(',')[0]</td><td style="background-color:gainsboro;">Max</td><td style="width:50px">@s1[i][1].Split(',')[1]</td></tr>
                                </table>
                            </td>

                            <td>
                                <table>
                                    <tr><td style="background-color:gainsboro;">Min</td><td style="width:50px">@s1[i + 9][1].Split(',')[0]</td><td style="background-color:gainsboro;">Max</td><td style="width:50px">@s1[i + 9][1].Split(',')[1]</td></tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td>@s1[i][1]</td>
                            <td>@s1[i + 9][1]</td>
                        }

                    </tr>

                }


                //}
            }

        </table>
    </div>

</body>
</html>