@model IEnumerable<Joole.Service.Models.Category>
@using Joole.Service.Models
@{
    Layout = null;
}
@{ ViewBag.Title = "Product Summary"; }
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joole - @ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--For Jquery Slider-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!--Applied Common CSS-->
    @Styles.Render("~/Content/Site.css")
    <!--Applied Specific Styling-->
    @Styles.Render("~/Content/Styles/Product_Sum.css")

    <!--Compare functionality-->
    <script type="text/javascript">
        function Compare() {
            var values = [];
            $.each($("input[name='check_compare']:checked"), function () {
                values.push($(this).val());
            });
            if (values.length < 2) {
                alert("Select atleast 2 products for comparison!");
            }
            else {
                var final_array = [];
                var t = ["a", "b", "c"];
                for (var i = 0; i < values.length; i++) {
                    var temp = t[i] + "=" + values[i];
                    final_array.push(temp);
                }
                var query = final_array.join('&');
                var url = "/Product/CompareProducts?" + query;
                location.replace(url);
            }
        }
    </script>

    <!--Top Search Bar Styling-->
    <style>
        header {
            display: flex;
            background-image: linear-gradient(#1565c0, white);
        }

        #image img {
            width: 218px;
            height: 119px;
        }

        #searchBar {
            flex: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #logoutBtn {
            flex: 2;
        }

        .dropdown select {
            cursor: pointer;
        }

        .dropdown option {
            color: black;
            background-color: white;
        }

        .search {
            width: 30%;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }

            .search #srch {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 3px;
            }

        .butten {
            cursor: pointer;
        }

        #logoutBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .avatar {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        #logoutBtn a {
            color: black;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            cursor: pointer;
        }
    </style>

    <!--Top Search Bar Scripts-->
    <script>
    $(document).ready(function () {

        $("#category_filter").change(function () {
            console.log(this);
            var categoryID = $(this).val();
            $("#srch").val("");
            $.get("@Url.Action("GetSubCateListByCatID", "Search")", { categoryId: categoryID }, BindData);
            function BindData(Subcategories) {
                console.log(Subcategories);
                var datalist = $("#subcatList");
                datalist.html("");
                for (var i = 0; i < Subcategories.length; i++) {
                    console.log(Subcategories[i].Name);
                    var newRow = "<option data-id="+Subcategories[i].Id+">" + Subcategories[i].Name + "</option>";
                    datalist.append(newRow);
                }
            }

        })

        $("#srcbtn").click(function () {
            var categoryID = $("#category_filter").val();
            var subcatName = $("#srch").val();
            var subcategoryID = $("#subcatList option").filter(function () {
                console.log(this);
                return this.value == subcatName;
            }).data("id");
            if (categoryID == "") {
                alert("Please select Category and Subcategory!")
            }
            else if (subcategoryID == null) {
                alert("Please select Subcategory from list!")
            }
            else {
                var url = "/Product/Product?categoryId=" + categoryID + "&subcategoryId=" + subcategoryID;
                location.replace(url);
            }
        })

    });
    </script>

    <!--Filter functionality-->
    <script type="text/javascript">
        function applyfilter(){
            var f = [];
            for (var p = 0; p < @(ViewBag.prod_data.Count); p = p + 1)
            {
                var p_data = @Html.Raw(Json.Encode(ViewBag.props_data));
                var flag = true;
                for (var s = 0; s < @ViewBag.tech_spec_filter_data.Count; s = s + 1)
                {
                    var min = parseFloat($("#" + s + "1").val());
                    var max = parseFloat($("#" + s + "2").val());
                    var v;
                    if (p_data[p][s].split(':')[1].split(',').length == 2) {
                        v = parseFloat(p_data[p][s].split(':')[1].split(',')[1]);
                    }
                    else {
                        v = parseFloat(p_data[p][s].split(':')[1]);
                    }
                    if (v > max || v < min) {
                        f.push(0);
                        flag = false;
                        break;
                    }
                }
                if (flag) {
                    f.push(1);
                }
             }
            var final = f.join(',');
            var url = "/Product/Product?f=" + final;
            location.replace(url);
            }
    </script>
</head>
<body>
    <div class="layer">
        <div class="toppane">
            <header>
                <div id="image">
                    <img src="https://i.ibb.co/QkYhFNX/joole.png" alt="Joole" />
                </div>
                <div id="searchBar">
                    <div class="dropdown">
                        <select id="category_filter" class="btn btn-primary">
                            <option value="" selected hidden>Category</option>
                            @foreach (Category category in Model)
                            {
                                <option value="@category.Id "> @category.Name</option>
                            }
                        </select>
                    </div>

                    <div class="search">
                        <input type="text" id="srch" name="srch" list="subcatList" />

                        <datalist id="subcatList">
                        </datalist>
                    </div>

                    <div class="butten">
                        <button type="submit" id="srcbtn" class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>

                <div id="logoutBtn">
                    @if (TempData["img"] == null)
                    {
                        <img src="https://www.w3schools.com/howto/img_avatar2.png" class="avatar" />
                    }
                    else
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String((byte [])TempData["img"]))" class="avatar" />
                    }

                    <input type="button" class="btn btn-danger btn-sm" value="Logout" onclick="location.href='@Url.Action("Logout", "Product")'" />
                </div>
            </header>
        </div>

        @if (ViewBag.message != null)
        {
            <div>
                <h1>@ViewBag.message</h1>
            </div>
        }
        else
        {
            <div class="leftpane">
                <div id="head">
                    Technical Specification
                </div>
                <form>
                    @{var s = 0;}
                    @foreach (var f in ViewBag.tech_spec_filter_data)
                    {
                        <p>@f.Split(':')[0]</p>
                        <div class="slider-row">
                            <input type="text" id="@(s)1" class="sliderValue-@(s)" data-index="0" value="@f.Split(':')[1]" />
                            <div id="slider-@(s)"></div>
                            <input type="text" id="@(s)2" class="sliderValue-@(s)" data-index="1" value="@f.Split(':')[2]" />
                            <script>
                                $(document).ready(function () {
                                    $("#slider-@(s)").slider({
                                        min: @f.Split(':')[1],
                                        max: @f.Split(':')[2],
                                        step: 1,
                                        values: [@f.Split(':')[1], @f.Split(':')[2]],
                                        slide: function (event, ui) {
                                                for (var i = 0; i < ui.values.length; ++i) {
                                                $("input.sliderValue-@(s)[data-index=" + i + "]").val(ui.values[i]);
                                                }
                                            }
                                    });

                                    $("input.sliderValue-@(s)").change(function () {
                                        var $this = $(this);
                                        $("#slider-@(s)").slider("values", $this.data("index"), $this.val());
                                    });
                                });
                            </script>
                        </div>
                        s = s + 1;
                    }
                </form>
                <div id="gobtn">
                    <a onclick="applyfilter(); return false;" class="btn btn-primary"> Go </a>
                </div>
            </div>
            <div class="middlepane">
                <div class="container">
                    <h5>@ViewBag.cat_name > @ViewBag.sub_cat_name</h5>
                    <div class="card-columns">
                        @{var count = 0;}
                        @if (ViewBag.prod_data != null)
                        {
                            foreach (var p in ViewBag.prod_data)
                            {
                                if (ViewBag.fstring.Split(',')[count] == "1")
                                {

                                <div class="card" style="width: 15rem;">
                                    @if (p.Product_Image != null)
                                    {
                                        <img class="card-img-top" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(p.Product_Image))" alt="Card image cap" width="100" height="200">
                                    }
                                    else
                                    {
                                        <img class="card-img-top" src="#" alt="Card image cap" width="100">
                                    }

                                    <div class="card-body">
                                        <div class="heading">
                                            <p>@p.Product_Name</p>
                                            <p>@ViewBag.man_data[count]</p>
                                            <p>@p.Series</p>
                                            <p>@p.Model</p>
                                        </div>
                                        <p>@ViewBag.props_data[count][0].Split(':')[1] @ViewBag.props_data[count][0].Split(':')[0]</p>
                                        <p>@ViewBag.props_data[count][1].Split(':')[1].Split(',')[1] @ViewBag.props_data[count][1].Split(':')[0]</p>
                                        <p>@ViewBag.props_data[count][2].Split(':')[1] @ViewBag.props_data[count][2].Split(':')[0]</p>
                                        <p>@ViewBag.props_data[count][3].Split(':')[1] @ViewBag.props_data[count][3].Split(':')[0]</p>
                                        <!--Link to Details-->
                                        <a href="/Product/ProductList?pid=@p.Product_ID" class="stretched-link"></a>
                                    </div>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="check-@(p.Product_ID)">
                                        <input type="checkbox" class="form-check-input" id="check-@(p.Product_ID)" name="check_compare" value="@(p.Product_ID)">Add to Compare
                                    </label>
                                    &nbsp;&nbsp;
                                    <a href="#" onclick="Compare(); return false;" class="btn btn-primary"> Compare </a>
                                </div>
                                }
                                count = count + 1;
                            }
                        }
                        
                        @if(ViewBag.fstring == "0,0,0")
                        {
                            <p>No Products found!</p>
                        }

                    </div>
                </div>

            </div>
        }
    </div>
</body>
</html>
