@model IEnumerable<Joole.Service.Models.Category>
@using Joole.Service.Models
@{ Layout = null;
    ViewBag.Title = "Product Details"; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joole - @ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <!--Styling-->
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            height: 500px;
            padding: 20px;
        }

        .flex-child {
            flex: 1;
            border: none;
        }

        th, tr, td {
            text-align: left;
            padding-left: 10px;
        }

        th {
            width: 40%;
        }

        header {
            display: flex;
            background-image: linear-gradient(#1565c0, white);
        }

        #image img {
            width: 218px;
            height: 119px;
        }

        #searchBar {
            flex: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #logoutBtn {
            flex: 2;
        }

        .dropdown select {
            cursor: pointer;
        }

        .dropdown option {
            color: black;
            background-color: white;
        }

        .search {
            width: 30%;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }

            .search #srch {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 3px;
            }

        .butten {
            cursor: pointer;
        }

        #logoutBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .avatar {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        #logoutBtn a {
            color: black;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            cursor: pointer;
        }
    </style>

    <!--Top Search Bar Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    $(document).ready(function () {

        $("#category_filter").change(function () {
            console.log(this);
            var categoryID = $(this).val();
            $("#srch").val("");
            $.get("@Url.Action("GetSubCateListByCatID", "Search")", { categoryId: categoryID }, BindData);
            function BindData(Subcategories) {
                console.log(Subcategories);
                var datalist = $("#subcatList");
                datalist.html("");
                for (var i = 0; i < Subcategories.length; i++) {
                    console.log(Subcategories[i].Name);
                    var newRow = "<option data-id="+Subcategories[i].Id+">" + Subcategories[i].Name + "</option>";
                    datalist.append(newRow);
                }
            }

        })

        $("#srcbtn").click(function () {
            var categoryID = $("#category_filter").val();
            var subcatName = $("#srch").val();
            var subcategoryID = $("#subcatList option").filter(function () {
                console.log(this);
                return this.value == subcatName;
            }).data("id");
            if (categoryID == "") {
                alert("Please select Category and Subcategory!")
            }
            else if (subcategoryID == null) {
                alert("Please select Subcategory from list!")
            }
            else {
                var url = "/Product/Product?categoryId=" + categoryID + "&subcategoryId=" + subcategoryID;
                location.replace(url);
            }
        })

    });
    </script>

</head>
<body>
    <div>
                <header>
                    <div id="image">
                        <img src="https://i.ibb.co/QkYhFNX/joole.png" alt="Joole" />
                    </div>
                    <div id="searchBar">
                        <div class="dropdown">
                            <select id="category_filter" class="btn btn-primary">
                                <option value="" selected hidden>Category</option>
                                @foreach (Category category in Model)
                                {
                                    <option value="@category.Id "> @category.Name</option>
                                }
                            </select>
                        </div>

                        <div class="search">
                            <input type="text" id="srch" name="srch" list="subcatList" />

                            <datalist id="subcatList">
                            </datalist>
                        </div>

                        <div class="butten">
                            <button type="submit" id="srcbtn" class="btn btn-primary btn-sm">Search</button>
                        </div>
                    </div>

                    <div id="logoutBtn">
                        @if (TempData["img"] == null)
                        {
                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class="avatar" />
                        }
                        else
                        {
                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String((byte [])TempData["img"]))" class="avatar" />
                        }
                        <input type="button" class="btn btn-danger btn-sm" value="Logout" onclick="location.href='@Url.Action("Logout", "Product")'" />
                    </div>
                </header>
    </div>
    <a href="/Product/Product" style="text-decoration:none; font-size:large; margin-left:1%;">Products</a>
    <h2 style="color:dodgerblue; margin-left:1%;">Product Summary</h2>
    <hr>

    <div class="flex-container">
        <div>
            <table style="border: 1px;border-collapse:collapse; width: 500px; height: 50%">
                <tr style="border: 1px solid lightgray;border-right: 0;">
                    <th colspan="2">Description</th>
                </tr>

                @foreach (List<string> item in (List<List<string>>)ViewBag.Man)
                {
                    <tr style="border-bottom: 1px inset lightgray;">
                        <th style="background-color:lightgray;">Manufacture</th>
                        <td>@item[1]</td>
                    </tr>
                    <tr style="border-bottom: 1px inset lightgray;">
                        <th style="background-color:lightgray;">Series</th>
                        <td>@item[2]</td>
                    </tr>
                    <tr style="border-bottom: 1px inset lightgray;">
                        <th style="background-color:lightgray;">Model</th>
                        <td>@item[3]</td>
                    </tr>

                }


            </table>

            <br><br><br>

            <div>
                <table style="border: 1px;border-collapse: collapse; width: 100%; height: 200px;">
                    <tr style="border: 1px solid lightgray; border-right: 0;">
                        <th colspan="2">Type</th>
                        <!-- <th>SubCategory ID</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Value</th>-->
                    </tr>
                    @foreach (List<string> item in (List<List<string>>)ViewBag.IsType)
                    {
                        <tr style="border-bottom: 1px inset lightgray;">
                            <th style="background-color:lightgray;">@item[0]</th>
                            <td>@item[1]</td>
                        </tr>
                    }

                </table>
            </div>

        </div>

        <div class="flex-child">
            <table style="border: 1px;border-collapse: collapse; width: 100%; height: 100%; margin-left:10%;">
                <tr style="border: 1px solid lightgray; border-right: 0;">
                    <th colspan="2">Technical Specifications</th>
                    <!-- <th>SubCategory ID</th>
                    <th>Product Name</th>
                    <th>Product Image</th>-->

                </tr>
                @foreach (List<string> item in (List<List<string>>)ViewBag.IsTechSpec)
                {
                    <tr style="border-bottom: 1px inset lightgray;">
                        <th style="background-color:lightgray;">@item[0]</th>
                        @if (item[1].Split(',').Length == 2)
                        {
                            <th style="background-color:lightgray; width:10%">Min</th>
                            <td style="width:50px">@item[1].Split(',')[0]</td>
                            <th style="background-color:lightgray; width:10%">Max</th>
                            <td style="width:15px">@item[1].Split(',')[1]</td>
                        }
                        else
                        {
                            <td>@item[1].Split(',')[0]</td>
                        }


                    </tr>
                }

            </table>
        </div>
    </div>


</body>
</html>
